* {
padding: 0;
margin: 0;
/* border: 1px solid black;*/
}
.container {
  width: 700px;
  margin: 0 auto;
  box-sizing: border-box;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}
header {
  display: flex;
  justify-content: space-between;
  width: 100%;
  align-items: center;
}
header>p {
  font-size: 1.7rem;
  font-weight: 700;
}
header>ul {
  display: flex;
}
header>ul>li {
  margin-left: 1.8rem;
}
header>ul>li>a {
  text-decoration: none;
  font-size: 1.2rem;
  font-weight: 800;
  padding-bottom: 5px;
}
header>ul>li:first-child>a {
  border-bottom: 5px solid black;
}
section {
  padding: 0 3rem;
  text-align: center;
}
section>p {
  margin-bottom: 2rem;
}
section>p:first-child {
  font-size: 2rem;
  font-weight: 900;
}
section>p:last-of-type {
  font-size: 1.3rem;
  font-weight: 500;
}
section>a {
  display: block;
  border: 1px solid black;
  width: 150px;
  font-size: 1.3rem;
  font-weight: 600;
  margin: auto;
  padding: 1rem;
  border-radius: 10px;
  background-color: auto;
  color: black;
}
footer {
  margin-bottom: 2rem;
  font-size: 1.1rem;
  color: #rgb(255, 0, 0);
}
footer>a {
  text-decoration: none;
  color: white;
}
li {
  list-style-type: none;
}
a {
  text-decoration: none;
  text-emphasis-color: black;
}
a:hover {
  border-bottom: 5px solid
  gray;
}
